h1 {
    color: red;
}

h2 {
    color: blue;
}

.rojo,
.azul,
.verde,
.negro {
    color: white;
}

.rojo {
    background-color: red;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}

.negro {
    background-color: black;
}

/* AJUSTE DEL CARRUSEL */
#carouselExampleControls {
    width: 400px;
    margin: 0 auto;
}

/* para editar la imagen de las flechas */

.carousel-control-prev-icon {
    background-image: ();
}

.carousel-control-next-icon {
    background-image: ();
}